.a
{
    height: 110vh;
    display: flex;
    margin: 30px;
    align-items: center;
    overscroll-behavior: none;


}

.a-left
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;

}

.a-rigth
{
    flex: 1;
}
.a-card
{
    width: 60%;
    height: 70vh;
    border-radius: 30px ;
    position: relative;
    overflow: hidden;
}
.a-img
{
    width: 100%;
    object-fit: cover;
    margin-left: 40px;
    animation: fastSlid 15s ;
}
.a-card.bg{
    position: absolute;
    top: 60px;
    left: 100px;
    background-color: black;
}
.a-award-img
{
    width: 100px;
    height: 100px;
}
.a-title
{
    font-weight: 500;
}
.a-sub
{
    margin: 20px;

}
.a-desc
{
    font-weight: 200;
}
.a-award
{
    flex-grow: 1;
}
.a-award-content-1
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    animation: fastSlid 15s ;


}
.a-award-content-2
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    animation: fastSlid 20s ;
}
.a-award-content-3
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    animation: fastSlid 25s ;
}
.a-award-content-4
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    animation: fastSlid 30s ;

}
@keyframes fastSlid {
    0%   { transform: translate(120%) ; }
    70%  { transform: translate(0%)  ; }
    80%  { transform: translate(0%)    ; }
    95%  { transform: translate(0%)   ; }
    100% { transform: translate(0%)     ; }
}

.a-award-text
{
    width: 60%;
}
.a-award-desc
{
    font-weight: 200;
}

.a-award-title
{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}


@media screen and (max-device-width: 991px)
{
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        height: 70vh;
    }
    .a-left
    {
        width: 100%;
    }
    .a-card
    {
        height: 30vh;
    }
    .a-card.bg , .a-award
    {
        display: none;
    }
    .a-rigth
    {
        padding: 20px;
    }
    .a-arrow
    {
        display: none;
    }
    .a-award
    {
        display: none;
    }
    .a-img
    {
        width: 50%;
    }

}


@media screen  and (min-device-width:992px) {
    .a{
        height: 80vh;
    }
    .a-card.bg
    {
        position: absolute;
        height: 30vh;
    }
    .a-img
    {
        position: relative;
        padding: 10px;
        margin: 10px;
        top: 30px;
    }


}

