.p
{
    width: 29%;
    height: 30vh;
    margin: 25px 5px;
    border : 2px solid rgb(243,242,242);
    border-radius: 10px 10px;
    overflow: hidden;

}

.p-browser
{
    height: 20px;
    background-color: rgb(92, 157, 81);
    display: flex;
    align-items: center;
    position: sticky;


}
.p-circle
{
    width: 6px;
    height: 6px;
    background-color: white;
    margin: 3px;
    border-radius:50%;

}
.p-img{
    width: 100%;
}
.p-img:hover{

    height: 120%;
    transition: all 1s ease-in-out;
}

@media screen and (max-width: 480px)
{
    .p{
        width: 40%;
        height: 20vh;
    }
}
@media screen  and (max-width:1080px) and (min-height: 1920px) {
    .p
    {
        height: 10vh;
        padding: 20px;
        overflow: hidden;
    }
}
@media screen  and (width:600px) and (height: 800px) {

    .p
    {
        height: 10vh;
        padding:20px;
    }
    .a
    {
        margin-left: 10px;
    }
}



