.p
{
    width: 29%;
    height: 30vh;
    margin: 25px 5px;
    border : 2px solid rgb(243,242,242);
    border-radius: 10px 10px;
    overflow: hidden;

}

.p-browser
{
    height: 20px;
    background-color: rgb(92, 157, 81);
    display: flex;
    align-items: center;
    position: sticky;


}
.p-circle
{
    width: 6px;
    height: 6px;
    background-color: white;
    margin: 3px;
    border-radius:50%;

}
.p-img{
    width: 100%;
}
.p:hover{

    height: 30vh;
    transition: all 1ms ;
}

.p:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.45) 0 30px 20px -20px;
}

@media  screen and (max-width: 1080px)
{
    .p{
        width: 40%;
        height: 15vh;
    }
    .p:hover{
        width: 40%;
        height: 15vh;
    }
}
@media only screen and (max-width: 1080px) and (orientation: landscape)
{
    .p{
        max-width: 40%;
        height: 50vh;
    }

}





